            @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
            body {
                padding-bottom: 500px;
                font-family: 'Montserrat', sans-serif;
                text-align: center;
            }
            
            .main-container {
                display: flex;
                flex-direction: none;
                width: 1200px;
                background-color: #fff;
                margin: 50px;
                position: absolute;
            }
            
            .header {
                height: 50px;
                text-align: center;
                display: inline;
            }
            
            .header ul li {
                height: 50px;
                text-align: center;
                display: inline;
                padding: 10px 15px;
                margin: 25px 30px;
            }
            
            .header a {
                text-decoration: none;
                color: #FF0000;
                width: 68px;
                height: 27px;
                font-weight: 700;
                letter-spacing: 2.7px;
                font-size: 18px;
                line-height: 18px;
                margin: 2px;
            }
            
            .header.link {
                text-decoration: line-through;
                font-style: normal;
                display: inline-block;
                text-transform: uppercase;
                font-family: 'Montserrat';
            }
            
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            
            .title {
                padding: 20px;
                margin-left: auto;
                margin-right: auto;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 22px;
                line-height: 27px;
                display: flex;
                align-items: flex-end;
                letter-spacing: 3.3px;
                text-transform: uppercase;
                text-align: center;
                width: 774px;
                height: 29px;
            }
            
            .container {
                width: 1145px;
                height: 132px;
                left: 67.5px;
                top: 115px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                text-align: center;
                letter-spacing: 2.4px;
                margin: auto;
                color: #373737;
            }
            
            .container-one {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                text-align: center;
                letter-spacing: 2.4px;
                color: #373737;
                padding: 5px;
                margin: auto;
            }
            
            .btn {
                width: 191px;
                height: 51px;
                left: 544.5px;
                top: 557px;
                background: #FF0000;
                border-radius: 4px;
                border: 0;
                margin: 40px;
            }
            
            .text {
                width: 105px;
                height: 16px;
                left: 587px;
                top: 575px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 12px;
                align-items: center;
                letter-spacing: 1.8px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            
            .footer {
                width: 462px;
                height: 39px;
                padding: 10px;
                margin-left: 600px;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                align-items: center;
                flex: 0 0 auto;
                white-space: nowrap;
            }
            
            .span {
                font-family: 'Montserrat';
                font-style: normal;
                letter-spacing: 2.4px;
                color: #373737;
                left: 608px;
                top: 0px;
                text-transform: uppercase;
                position: absolute;
            }